body{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-color: #d0ffef;
}

.main-game{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius{
    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';
    grid-gap: 7px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue{
    background-color: #0000ffe3;
    grid-area: blue;
    border-bottom-right-radius: 100%;
}

.red{
    grid-area: red;
    background-color: #ff0000ee;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: yellow;
    background-color: #ffff00ef;
    border-bottom-left-radius: 100%;
}

.green{
    grid-area: green;
    background-color: #008000ea;
    border-top-left-radius: 100%;
}

.selected{
    opacity: 0.6;
}
